@import "~assets/styles/variables";

.hg-header {
  top: 0px;
  z-index: 4;
  left: 0px;
  right: 0px;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  color: $white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.18) 55%,
    rgba(0, 0, 0, 0.4) 100%
  );
  padding: 28px 0px;
  .hg-header__logo {
    display: inline-block;
    font-size: 2rem;
  }
  .hg-menu-list__container {
    display: flex;
    align-items: center;
    a {
      padding: 0px 20px;
    }
  }
  a {
    color: $white;
    text-decoration: none;
  }
}