
// Base
$black: #000000;
$white: #ffffff;
$hg-primary: #51bcb4;
$hg-primary-transparent: #{$hg-primary}bf;
$hg-secundary: #f9ac30;
$hg-secundary-transparent: #{$hg-secundary}bf;
$gray-1: #ebebeb;
$gray-2: #707070;
$black-transparent-9: #{$black}15;
$white-transparent-4: #{$white}b0;

$breakpoint-tablet: 1300px;
$breakpoint-mobile: 650px;

